<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" taglib
      url="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<head>
  <meta charset="UTF-8"/>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/AddStyle.css" />
</head>
<body>
<nav>
  <ul>
    <li><a href="/index">Home</a></li>
    <li><a sec:authorize="isAuthenticated()" href="/items/">Zadania</a></li>
    <li><a sec:authorize="isAuthenticated()" href="/categories/">Kategorie</a></li>
    <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/users/">Użytkownicy</a></li>
    <li><a sec:authorize="isAuthenticated()" href="/logout">Wyloguj</a></li>
  </ul>
</nav>
<h1>Edytuj element</h1>
<form th:action="@{'/items/edit/' + ${item.id}}" th:object="${item}" method="post">
  <input type="hidden" th:field="*{id}" />
  <label for="name">Nazwa:</label>
  <input type="text" id="name" name="name" th:field="*{name}"> <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span><br/><br/>
  <label for="description">Opis:</label>
  <textarea id="description" name="description" th:field="*{description}"></textarea><span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</span><br/><br/>
  <label for="deadline">Termin:</label>
  <input type="datetime-local" id="deadline" name="deadline" th:field="*{deadline}"/><span th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}">Name Error</span><br/><br/>
  <label for="isDone">Is Done:</label><br>
  <input type="checkbox" id="isDone" name="isDone" th:field="*{isDone}"/><br>
  <label>Category:</label>
  <select name="category" required>
    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
  </select><br><br>
  <button type="submit">Edit</button>
</form>
</body>
</html>